
<li class="<%= item[:status] %> item">
      <%= item[:name] %>
      <button class="btn" type="submit" value="<%= item[:index]%>" name="btn">Check</button>
      <input type="hidden" value="<%= item[:name]%>" name="items[][name]" >
      <input type="hidden" value="<%= item[:status]%>" name="items[][status]" >
  </li>


